body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{font-size: 2rem;
   color:#FFF;
  }

section{margin-left: 40px;}

header{margin-left: 60px;position: relative;
left:-30px;bottom: -20px;}

.hr{margin-bottom: 200px;}


.btn{font-weight: 700;
border-radius:400px;
padding:0.7rem 1rem;
position: relative;
top: -5px;
}

.btn-primary{
  background-color: red;
  border-color: red;
}

.btn-primary:hover{
background-color:red;
border-color:red;
border-width:3px;
}
 
 hr{background-color: red;/*border-color: red;*/
  border-width: 2px;
  max-width:70px;
position: relative; 
top: -12px;}

.container{display:flex;
height: 100%;
align-items: center;}

.buffer{height: 10rem;}
